.footer{
    width: 100%;
    background-color: #24263b;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer-contact{
    margin-top: 30px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li{
    display: flex;
    flex-direction: column;
}

.footer-link{
    font-size: 20px;
    color: aliceblue;
}

.footer-link:hover{
    color: orange;
}

.social{
    display: flex;
    justify-content: space-evenly;
}

.fa{
    font-size: 30px;
    color: aliceblue;
    padding-bottom: 10px;
}

.btn-footer{
    border-radius: 25px;
    border: none;
    font-size: 20px;
    padding: 10px;
    background-color: orange;
}

.btn-footer:hover{
    background-color: white;
}

.btn-footer a{
    text-decoration: none;
    color: white;
}

.btn-footer a:hover{
    color: red;
}